.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
  }
  
  .baloon {
    width: 350px;
    position: absolute;
    top: 120px;
    left: 200px;
    z-index: 1;
  
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    top: 170px;
    left: 215px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 280px;
    left: 550px;
  }