* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header, footer {
    background-color: #dacba5;
    text-align: center;
    padding: 40px;
}

main {
    background-color: #fffad6;
}

.nav-options {
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
    width: 120px;
    height: 25px;
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    color: blue;
}

#table-config {
    display: flex;
    justify-content: center;
    padding: 40px;
}

img {
    width: 500px;
    padding: 20px;
}

.article-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-text {
    display: inline-block;
    width: 40%;
    text-align: justify;
}

span {
    font-style: italic;
}

#position {
    text-align: center;
    padding: 30px;
}