* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: black;
  color: white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 50px;
}

button {
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}

button:hover {
  opacity: 70%;
}