.navbar {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  justify-content: center;
}

.navbar-link {
  text-decoration: none;
  color: red;
}

.navbar-link:hover {
  opacity: 0.6;
}
